section.intro

  .container
    .header
      h4.name-tag Nolan Wells

    .content
      h3.lead Nolan Wells is a Web + Graphic Designer who makes websites, pictures and other good stuff. He currently works as a Senior Designer with the good people at 50,000feet, a creative agency on Chicago's north side.
      p.body-focused A revamp of my website is in progress and coming soon. In the meantime you can see some of my old work here. Looking t collaborate on a project or just want to say hello? Please don't hesitate to get in touch.
      ul
        li
          a.mailto(mailto:scoboria@gmail.com) Say Hello

    .footer
      ul
        li
          a(href="http://vsco.co")
            img(src="" alt="vsco.co/noleypoly")
        li
          a(href="http://www.behance.net")
            img(src="" alt="www.behance.net")
        li
          a(href="http://www.pinterest.com")
            img(src="" alt="www.pinterest.com")
        li
          a(href="https://www.linkedin.com")
            img(src="" alt="www.linkedin.com")
